
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}{% endblock %}
    {% load cache %}

    {% cache 500 head_cache %}
        {% include './head.html' %}
    {% endcache %}
    <!-- Removed old head include comment, as it's redundant -->
</head>

<body>
    <div class="main-page-wrapper">
        <!-- Loading Transition -->
        <div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="icon">
                    {%load static%}
                    <img src="{% static 'images/loader.gif' %}" alt="" class="m-auto d-block" width="64" />
                </div>
            </div>
        </div>

        <!-- Theme Main Menu -->
        {% cache 500 header_cache %}
            {% include "./header.html" %}
        {% endcache %}

        <!-- Content Block -->
        {% block content %}{% endblock %}

        <!-- Footer -->
        {% cache 500 footer_cache %}
            {% include "./footer.html" %}
        {% endcache %}

        <!-- Login Modal -->
        {% cache 500 modal_cache %}
            {% include "./modal.html" %}
        {% endcache %}

        <button class="scroll-top">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAgklEQVR4nO3PSwrCMBQF0I46rcVluAWh4AZct6J1L37GR4IFQ0FMYmfmwoMQcg8vTVNTUxxswiyNbnHDA7ul0AF3nKcJ52GpTS9YY4XjT5ubodF9Oe6NjjE6ww9ZuC9oES4RzcLR4ooT+qTvvXr91And9tOjPbpUNOp1oZvbq/m3PAHvJd8Hl26/tAAAAABJRU5ErkJggg==" style="height: 32px;">
        </button>

        <!-- Scripts -->
        {% cache 500 scripts_cache %}
            {% include "./script.html" %}
        {% endcache %}

        {% block contentScript %}
        
       
        {% endblock %}

    </div>
    <!-- /.main-page-wrapper -->
</body>
</html>
