<div class="footer-one mt-100">
    <div class="position-relative z-1">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <div class="footer-intro">
                        <div class="bg-wrapper">
                            <div class="logo mb-20">
                                <a href="index.html">
                                <img src="/static/images/logo/footer-logo.png" alt="" style="height: 40px;">
                                </a>
                            </div> 
                            <!-- logo -->
                            <p class="mb-20 lg-mb-10 md-mb-10">D-9, Vyapar Marg, Block D, Sector 3, Noida, Uttar Pradesh, 201301 </p>
                            <h6>CONTACT</h6>
                            <a href="#" class="email fs-24 text-decoration-underline tran3s mb-10 lg-mb-10"> +91 9000 699 900</a>
                            <h6>EMAIL</h6>
                            <a href="#" class="email fs-24 text-decoration-underline tran3s mb-30 lg-mb-10">info@ezstays.in</a>
                            <ul class="style-none d-flex align-items-center social-icon">
                                <li><a href="https://www.facebook.com/ezstays"><i class="fa-brands fa-square-facebook"></i></a></li>
                                <li><a href="http://twitter.com/ezstaysindia"><i class="fa-brands fa-square-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/ezstaysindia"><i class="fa-brands fa-square-instagram"></i></a></li>
                                <li><a href="http://twitter.com/ezstaysindia"><i class="fa-brands fa-x-twitter"></i></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="d-flex flex-wrap">
                        <div class="footer-nav mt-100 lg-mt-30 xs-mt-50">
                            <h5 class="footer-title">Company</h5>
                            <ul class="footer-nav-link style-none">
                                <li><a href="/about-us/">About us</a></li>
                                <li><a href="/contact/" target="_blank">Contact us</a></li>
                                <li><a href="/blogs/">Blogs</a></li>
                                
                            </ul>
                        </div>
                        <div class="footer-nav mt-100 lg-mt-80 xs-mt-30">
                            <h5 class="footer-title">Legal</h5>
                            <ul class="footer-nav-link style-none">
                                <li><a href="/terms-and-conditions/">Terms & conditions</a></li>
                                <li><a href="/privacy-policy/">Privacy policy</a></li>
                                <li><a href="#">Faq’s</a></li>
                                <li><a href="/static/2023 Form_MGT_7A_Next2Door signed.pdf" target="_blank">Form MGT-7A 2023 (Annual Return)</a></li>
                            </ul>
                        </div>
                        <div class="footer-nav mt-100 lg-mt-80 xs-mt-30">
                            <h5 class="footer-title">Upcomings Residence</h5>
                            <ul class="footer-nav-link style-none">
                                <li><a href="listing_01.html">​Monalisa House</a></li>
                                <li><a href="listing_02.html">Tesla House</a></li>
                                <li><a href="listing_03.html">Bose Mansion</a></li>
                            </ul>
                        </div>

                        
                    </div>
                </div>
            </div>
             <hr class="mt-100" />
            <div class="row justify-content-between footer-urls">
                {% load my_custom_tags %}
                <div class="col-lg-12">
                    <div class="d-flex flex-wrap">
                        {% comment %} {% for i in footer_urls|slice:"0:18"|batch:5 %} {% endcomment %}
                        {% for i in footer_urls|batch_three%}
                        <div class="footer-nav mt-50 lg-mt-80 xs-mt-30">
                            <ul class="footer-nav-link style-none">
                                {% for url in i %}
                                    <li><a href="/blog/{{ url.slug }}/">{{ url.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                        

                        
                    </div>
                </div>
            </div>

            
               
        </div>
        <br>
    </div>
    <div class="copyright">
        &copy; Copyright NEXT2 DOOR LIVING PRIVATE LIMITED. All Rights Reserved
      </div>
  
</div> 

<div class="floating-buttons">
    <a href="https://wa.me/+919319371897" class="float-button whatsapp">
        <i class="fab fa-whatsapp"></i>
    </a>
    <a href="tel:+919000699900" class="float-button phone">
        <i class="fas fa-phone"></i>
    </a>
</div>