r<div class="footer-one">
    <div class="position-relative z-1">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <div class="footer-intro">
                        <div class="bg-wrapper">
                            <div class="logo mb-20">
                                <a href="index.html">
                                <img src="/static/images/logo/footer-logo.png" alt="" style="height: 40px;">
                                </a>
                            </div> 
                            <!-- logo -->
                            <p class="mb-60 lg-mb-40 md-mb-20">D-9, Vyapar Marg, Block D, Sector 3, Noida, Uttar Pradesh, 201301 </p>
                            <h6>CONTACT</h6>
                            <a href="#" class="email fs-24 text-decoration-underline tran3s mb-70 lg-mb-50">info@ezstays.in</a>
                            <ul class="style-none d-flex align-items-center social-icon">
                                <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="d-flex flex-wrap">
                        <div class="footer-nav mt-100 lg-mt-80 xs-mt-50">
                            <h5 class="footer-title">Links</h5>
                            <ul class="footer-nav-link style-none">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="dashboard/membership.html" target="_blank">Membership</a></li>
                                <li><a href="about_us_01.html">About Company</a></li>
                                <li><a href="blog_01.html">Blog</a></li>
                                <li><a href="blog_02.html">Explore Careers</a></li>
                                <li><a href="pricing_02.html">Pricing</a></li>
                                <li><a href="dashboard/dashboard-index.html" target="_blank">Dashboard</a></li>
                            </ul>
                        </div>
                        <div class="footer-nav mt-100 lg-mt-80 xs-mt-30">
                            <h5 class="footer-title">Legal</h5>
                            <ul class="footer-nav-link style-none">
                                <li><a href="faq.html">Terms & conditions</a></li>
                                <li><a href="faq.html">Cookie</a></li>
                                <li><a href="faq.html">Privacy policy</a></li>
                                <li><a href="faq.html">Faq’s</a></li>
                            </ul>
                        </div>
                        <div class="footer-nav mt-100 lg-mt-80 xs-mt-30">
                            <h5 class="footer-title">New Listing</h5>
                            <ul class="footer-nav-link style-none">
                                <li><a href="listing_01.html">​Buy Apartments</a></li>
                                <li><a href="listing_02.html">Buy Condos</a></li>
                                <li><a href="listing_03.html">Rent Houses</a></li>
                                <li><a href="listing_04.html">Rent Industrial</a></li>
                                <li><a href="listing_05.html">Buy Villas</a></li>
                                <li><a href="listing_06.html">Rent Office</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 