r<div class="footer-one">
    <div class="position-relative z-1">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <div class="footer-intro">
                        <div class="bg-wrapper">
                            <div class="logo mb-20">
                                <a href="index.html">
                                <img src="/static/images/logo/footer-logo.png" alt="" style="height: 40px;">
                                </a>
                            </div> 
                            <!-- logo -->
                            <p class="mb-60 lg-mb-40 md-mb-20">D-9, Vyapar Marg, Block D, Sector 3, Noida, Uttar Pradesh, 201301 </p>
                            <h6>CONTACT</h6>
                            <a href="#" class="email fs-24 text-decoration-underline tran3s mb-70 lg-mb-50"> +91 9000 699 900</a>
                            <h6>EMAIL</h6>
                            <a href="#" class="email fs-24 text-decoration-underline tran3s mb-70 lg-mb-50">info@ezstays.in</a>
                            <ul class="style-none d-flex align-items-center social-icon">
                                <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="d-flex flex-wrap">
                        <div class="footer-nav mt-100 lg-mt-80 xs-mt-50">
                            <h5 class="footer-title">Company</h5>
                            <ul class="footer-nav-link style-none">
                                <li><a href="#">About us</a></li>
                                <li><a href="#" target="_blank">Contact us</a></li>
                                <li><a href="#">Blogs</a></li>
                                <li><a href="#">Events</a></li>
                            </ul>
                        </div>
                        <div class="footer-nav mt-100 lg-mt-80 xs-mt-30">
                            <h5 class="footer-title">Legal</h5>
                            <ul class="footer-nav-link style-none">
                                <li><a href="#">Terms & conditions</a></li>
                                <li><a href="#">Cookie</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Faq’s</a></li>
                                <li><a href="#">Form MGT-7A 2023 (Annual Return)</a></li>
                            </ul>
                        </div>
                        <div class="footer-nav mt-100 lg-mt-80 xs-mt-30">
                            <h5 class="footer-title">Upcomings Residence</h5>
                            <ul class="footer-nav-link style-none">
                                <li><a href="listing_01.html">​Monalisa House</a></li>
                                <li><a href="listing_02.html">Tesla House</a></li>
                                <li><a href="listing_03.html">Bose Mansion</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <br>
    </div>
</div> 