<style>
    .btn-two i {
    font-size: 1.1em;
    margin-right: 15px;
}
.ez{
	color: #2b5f9c !important;
}
.theme-main-menu .alert-wrapper{
	background: #000000  !important;
}
.welcome{
	font-weight :700;
}
</style>
<header class="theme-main-menu menu-overlay menu-style-one sticky-menu">
			{% comment %} <div class="alert-wrapper text-center">
				
				<p class="fs-16 m0 text-white welcome">Welcome to ezstays, a family of 12000+ students</p>
			</div> {% endcomment %}
			<!-- /.alert-wrapper -->
			<div class="inner-content gap-one">
				<div class="top-header position-relative">
					<div class="d-flex align-items-center justify-content-between">
						<div class="logo order-lg-0">
							<a href="/" class="d-flex align-items-center">
								{% load static %}
								<img src="{% static 'images/logo/ezstays-logo.png' %}" height="60" alt="">
							</a>
						</div>
						<!-- logo -->
						<div class="right-widget ms-auto ms-lg-0 me-3 me-lg-0 order-lg-3">
							<ul class="d-flex align-items-center style-none">
								{% comment %} <li>
									<a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn-two"><i class="fa-regular fa-lock"></i> <span>Login</span></a>
                                </li> {% endcomment %}
								<!-- <li class="d-none d-md-inline-block ms-3">
                                    <a href="dashboard/add-property.html" class="btn-two" target="_blank"><span>Add Listing</span> <i class="fa-thin fa-arrow-up-right"></i></a>
                                </li> -->
							</ul>
						</div>
						<nav class="navbar navbar-expand-lg p0 order-lg-2">
							<button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse"
								data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
								aria-label="Toggle navigation">
								<span></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarNav">
								<ul class="navbar-nav align-items-lg-center">
									<li class="d-block d-lg-none"><div class="logo"><a href="/" class="d-block"><img src="{% static 'images/logo/ezstays-logo.png' %}" height="100px" alt=""></a></div></li>
								
									<li class="nav-item">
										<a class="nav-link" href="/our-residences/" >Our Residences</a>
									</li>
									
									<li class="nav-item">
										<a class="nav-link" href="/why-ezstays/">Why ezstays
										</a>
									</li>
									
                                    <li class="nav-item">
										<a class="nav-link" href="/contact/" >Contact</a>
									</li>

									
								
								</ul>
							</div>
						</nav>
					</div>
				</div> <!--/.top-header-->
			</div> <!-- /.inner-content -->
		</header> 