

{% load static %}
<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="Kamran AKhtar">
<!-- For Resposive Device -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- For Window Tab Color -->
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#0D1A1C">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#0D1A1C">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#0D1A1C">
{% comment %} <title>Homy-Real Estate HTML5 Template & Dashboard</title> {% endcomment %}
<!-- Favicon -->
<link rel="icon" type="image/png" sizes="56x56" href="/static/images/fav-icon/icon.png">
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="all">
<!-- Main style sheet -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}" media="all">
<!-- responsive style sheet -->
<link rel="stylesheet" type="text/css" href="/static/css/responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="/static/css/main.css" media="all">

<!-- Fix Internet Explorer ______________________________________-->
<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="vendor/html5shiv.js"></script>
		<script src="vendor/respond.js"></script>
	<![endif]-->
