


<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="Kamran AKhtar">
<!-- For Resposive Device -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- For Window Tab Color -->
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#0D1A1C">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#0D1A1C">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#0D1A1C">
{% comment %} <title>Homy-Real Estate HTML5 Template & Dashboard</title> {% endcomment %}
<!-- Favicon -->
<link rel="icon" type="image/png" sizes="56x56" href="/static/images/fav-icon/icon.png">
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="all">
<!-- Main style sheet -->
<link rel="stylesheet" type="text/css" href="/static/css/style.min.css" media="all">
<!-- responsive style sheet -->
<link rel="stylesheet" type="text/css" href="/static/css/responsive.css" media="all">

<!-- Fix Internet Explorer ______________________________________-->
<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="vendor/html5shiv.js"></script>
		<script src="vendor/respond.js"></script>
	<![endif]-->

<style>
	.block-feature-fourteen * {
		color: #0000;
	}
.item {
	width :500px;
}


.sticky-sidebar {
    position: fixed;
    top: 120px; /* Adjust based on your needs, e.g., if you have a fixed header */
    width: auto; /* Adjust based on the original width of your sidebar */
}

/* General styles for the floating buttons container */
.floating-buttons {
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000; /* Ensures the buttons stay above other content */
}

/* Styles for each button */
.float-button {
    background-color: #25D366; /* WhatsApp brand color */
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 50%; /* Circular buttons */
    text-decoration: none; /* Remove underline from links */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2); /* Simple shadow for better visibility */
    transition: transform 0.3s, background-color 0.3s;
}

.float-button.phone {
    background-color: #ff6725; /* A typical 'phone call' blue */
}

.float-button i {
    font-size: 20px; /* Adjust icon size */
}

/* Animation for the WhatsApp button */
.float-button.whatsapp {
    animation: pulse 2s infinite;
}
.boys {
    background : #2b5f9c !important ;
    color:white !important;
}
.girls {
    background : #ff6725 !important ;
    color:white !important;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.float-button:hover {
    background-color: #1AB273; /* Darker shade on hover for WhatsApp */
    transform: scale(1.05); /* Slight scale to indicate interactivity */
}

.float-button.phone:hover {
    background-color: #0c0c0c; /* Darker shade on hover for call button */
    transform: scale(1.05); /* Consistent scaling for all buttons */
}


/* Footer Copyright Style */
.copyright {
    text-align: center; /* Centers the text horizontally */
    color: #ffffff; /* Sets the text color to white */
    padding: 10px 20px; /* Adds padding around the text */
    background-color: #000; /* Dark background for the footer */
    font-size: 14px; /* Sets the font size */
    margin-top: 20px; /* Adds space above the copyright text */
    border-top: 1px solid #444444; /* Adds a subtle line above the text */
}

{% comment %} .footer-urls a{
    font-size:18spx;
    
}
.footer-one .footer-urls .footer-nav .footer-nav-link a{
    line-height:22px;
} {% endcomment %}
.footer-one .footer-urls .footer-nav{
    width:50%;
}

@media only screen and (max-width: 600px) {
    .footer-one .footer-urls .footer-nav{
        width:100%;
    }
}

.hostel-img{
    min-height:285px !important;
    max-height:285px !important;
}
</style>


<style>
	iframe{
		height: 100% !important;
		width: 100% !important;
	}
</style>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-83HS8MM5B3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-83HS8MM5B3');
  </script>
  
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z2RBHHMYJZ"></script> 
  <script> 
      window.dataLayer = window.dataLayer || []; 
      function gtag(){dataLayer.push(arguments);} 
      gtag('js', new Date()); 
      gtag('config', 'G-Z2RBHHMYJZ');
  </script>
