<!-- Optional JavaScript _____________________________  -->
<!-- jQuery -->
<script src="/static/vendor/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- WOW js -->
<script src="/static/vendor/wow/wow.min.js"></script>
<!-- Slick Slider -->
<script src="/static/vendor/slick/slick.min.js"></script>
<!-- Fancybox -->
<script src="/static/vendor/fancybox/fancybox.umd.js"></script>
<!-- Lazy -->
<script src="/static/vendor/jquery.lazy.min.js"></script>
<!-- js Counter -->
<script src="/static/vendor/jquery.counterup.min.js"></script>
<script src="/static/vendor/jquery.waypoints.min.js"></script>
<!-- Nice Select -->
<script src="/static/vendor/nice-select/jquery.nice-select.min.js"></script>
<!-- validator js -->
<script src="/static/vendor/validator.js"></script>
<!-- Google map js -->

<script src="/static/vendor/gmap.js"></script>
<script src="/static/js/theme.js"></script>
<script src="/static/js/main.js" defer></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-83HS8MM5B3" defer></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z2RBHHMYJZ" defer></script> 

            
<!-- Global site tag (gtag.js) - Google Analytics -->
  <script defer>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-83HS8MM5B3');
  </script>
  
  <!-- Google tag (gtag.js) --> 
  <script> 
      window.dataLayer = window.dataLayer || []; 
      function gtag(){dataLayer.push(arguments);} 
      gtag('js', new Date()); 
      gtag('config', 'G-Z2RBHHMYJZ');
  </script>
        
    