{% extends 'includes/base.html' %}
{% block head %}

<title>{{seo.title}}</title>
<meta name="description" content="{{seo.description}}">
<meta name="keywords" content="{{seo.keywords}}">
<meta property="og:site_name" content="ezstays">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{seo.title}}">
<meta name='og:image' content='/static/images/logo/ezstays-logo.png'>

{% endblock %}
{% block content%}


		<!-- 
		=============================================
			Inner Banner
		============================================== 
		-->
		<div class="inner-banner-one inner-banner bg-pink text-center z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative">
			<div class="container">
                <h3 class="mb-35 xl-mb-20 pt-15">About Agency</h3>
                <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
                    <li><a href="index.html">Home</a></li>
                    <li>/</li>
                    <li> About us</li>
                </ul>
			</div>
			<img src="/static/images/lazy.svg" data-src="/static/images/assets/ils_07.svg" alt="" class="lazy-img shapes w-100 illustration">
		</div>
		<!-- /.inner-banner-one -->

		


		<!--
		=====================================================
			BLock Feature Two
		=====================================================
		-->
		<div class="block-feature-two mt-150 xl-mt-100">
			<div class="container">
				<div class="row gx-xl-5">
					<div class="col-lg-6 wow fadeInLeft">
						<div class="me-xxl-4">
                            <div class="title-one mb-60 lg-mb-40">
                                <div class="upper-title">About usE</div>
                                <h3>Secure your <span>family's<img src="/static/images/lazy.svg" data-src="/static/images/shape/title_shape_06.svg" alt="" class="lazy-img"></span> Dream home.</h3>
                                <p class="fs-22">Our founders Dustin Moskovitz and Justin Rosenstein met while leading Engineering .</p>
                            </div>
                            <!-- /.title-one -->
                            <a href="contact.html" class="btn-two">Contact Us</a>
                            <div class="counter-wrapper border-top pt-40 md-pt-10 mt-65 md-mt-40">
                                <div class="row">
                                    <div class="col-xxl-6 col-sm-5">
                                        <div class="counter-block-one mt-20">
                                            <div class="main-count fw-500 color-dark"><span class="counter">1.2</span>%</div>
                                            <span>Low interest rate</span>
                                        </div>
                                        <!-- /.counter-block-one -->
                                    </div>
                                    <div class="col-xxl-6 col-sm-7">
                                        <div class="counter-block-one mt-20">
                                            <div class="main-count fw-500 color-dark">$<span class="counter">1.3</span>b+</div>
                                            <span>Cumulative trading volume</span>
                                        </div>
                                        <!-- /.counter-block-one -->
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="col-lg-6 wow fadeInRight">
						<div class="block-two md-mt-40">
							<div class="bg-wrapper">
								<h5>Who we are?</h5>
								<p class="fs-22 lh-lg mt-20">Our founders Dustin Moskovitz & Justin Rosenstein met  leading Engineering teams at Facebook. As operations scaled, they grew frustrated by how difficult coordinate</p>
								<h5 class="top-line">Our Mission </h5>
								<p class="fs-22 lh-lg mt-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore aliqua. </p>
							</div>
							<!-- /.bg-wrapper -->
						</div>
						<!-- /.block-two -->
					</div>
				</div>
			</div>
			<!-- /.wrapper -->
		</div>
		<!-- /.block-feature-two -->


        <!--
		=====================================================
			Video Banner One
		=====================================================
		-->
        <div class="video-banner-one mt-150 xl-mt-120 md-mt-80">
            <div class="container">
                <div class="bg-wrapper position-relative z-1 overflow-hidden d-flex align-items-center justify-content-center" style="background-image: url(/static/images/media/img_50.jpg);">
                    <a class="fancybox video-icon d-flex align-items-center justify-content-center rounded-circle tran3s" data-fancybox="" href="https://www.youtube.com/embed/aXFSJTjVjw0" tabindex="-1">
                        <i class="fa-solid fa-play"></i>
                    </a>
                </div>
                <!-- /.bg-wrapper -->
            </div>
        </div>
        <!-- /.video-banner-one -->


        <!--
		=====================================================
			BLock Feature Five
		=====================================================
		-->
		<div class="block-feature-five position-relative z-1 pt-170 xl-pt-120 pb-130 xl-pb-100 lg-pb-80">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 m-auto">
						<div class="title-one text-center mb-35 lg-mb-20">
							<h3>We’r here to help <br> you get your <span>dream home<img src="/static/images/lazy.svg" data-src="/static/images/shape/title_shape_07.svg" alt="" class="lazy-img"></span></h3>
							<p class="fs-24 color-dark">It’s easy to start with us with these simple steps</p>
						</div>
						<!-- /.title-one -->
					</div>
				</div>
				<div class="row justify-content-between">
					<div class="col-xxl-11 m-auto">
						<div class="row gx-xl-5 justify-content-center">
							<div class="col-lg-4 col-sm-6">
								<div class="card-style-one text-center wow fadeInUp mt-40">
									<img src="/static/images/lazy.svg" data-src="/static/images/icon/icon_07.svg" alt="" class="lazy-img m-auto icon">
									<h5 class="mt-50 lg-mt-30 mb-15">Create Account</h5>
									<p class="pe-xxl-4 ps-xxl-4">It’s very easy to open an account and start your journey.</p>
								</div>
								<!-- /.card-style-one -->
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="card-style-one text-center wow fadeInUp mt-40 arrow position-relative" data-wow-delay="0.1s">
									<img src="/static/images/lazy.svg" data-src="/static/images/icon/icon_08.svg" alt="" class="lazy-img m-auto icon">
									<h5 class="mt-50 lg-mt-30 mb-15">Find Home</h5>
									<p class="pe-xxl-4 ps-xxl-4">Complete your profile with all the info to get attention of client.</p>
								</div>
								<!-- /.card-style-one -->
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="card-style-one text-center wow fadeInUp mt-40" data-wow-delay="0.2s">
									<img src="/static/images/lazy.svg" data-src="/static/images/icon/icon_09.svg" alt="" class="lazy-img m-auto icon">
									<h5 class="mt-50 lg-mt-30 mb-15">Quick Process</h5>
									<p class="pe-xxl-4 ps-xxl-4">Apply & get your preferable jobs with all the requirements and get it.</p>
								</div>
								<!-- /.card-style-one -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<img src="/static/images/lazy.svg" data-src="/static/images/shape/shape_07.svg" alt="" class="lazy-img shapes shape_01">
			<img src="/static/images/lazy.svg" data-src="/static/images/shape/shape_08.svg" alt="" class="lazy-img shapes shape_02">
		</div>
		<!-- /.block-feature-five -->




        <!--
		=====================================================
			Feedback Section Six
		=====================================================
		-->
		<div class="feedback-section-six bg-pink-two position-relative z-1 pt-110 xl-pt-80 pb-100 xl-pb-80">
			<div class="container">
				<div class="title-one text-center mb-80 xl-mb-50 md-mb-30">
					<h3>Client Feedback</h3>
					<p class="fs-20 mt-xs">Client satisfaction speaks louder than our words. Hear from them.</p>
				</div>
				<!-- /.title-one -->
				<div class="feedback-slider-three">
					<div class="item">
						<div class="feedback-block-six rounded-4">
							<div class="d-flex justify-content-between align-items-center">
								<ul class="rating style-none d-flex">
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
								</ul>
								<img src="/static/images/icon/icon_29.svg" alt="" class="icon">
							</div>
							<blockquote>Game-changer! Boosted efficiency, simplified tasks, and saved time. Highly recommended!</blockquote>
							<div class="d-flex align-items-center justify-content-between">
								<h6 class="fs-20 m0">Rashed Kabir, <span class="fw-normal opacity-50">Claifornia</span></h6>
								<img src="/static/images/media/img_01.jpg" alt="" class="rounded-circle avatar">
							</div>
						</div>
						<!-- /.feedback-block-six -->
					</div>
					<div class="item">
						<div class="feedback-block-six rounded-4">
							<div class="d-flex justify-content-between align-items-center">
								<ul class="rating style-none d-flex">
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
								</ul>
								<img src="/static/images/icon/icon_29.svg" alt="" class="icon">
							</div>
							<blockquote>Found our dream home. Great Business with them. simplified tasks, and saved time. Thank You</blockquote>
							<div class="d-flex align-items-center justify-content-between">
								<h6 class="fs-20 m0">Jannat Ferdu, <span class="fw-normal opacity-50">Claifornia</span></h6>
								<img src="/static/images/media/img_02.jpg" alt="" class="rounded-circle avatar">
							</div>
						</div>
						<!-- /.feedback-block-six -->
					</div>
					<div class="item">
						<div class="feedback-block-six rounded-4">
							<div class="d-flex justify-content-between align-items-center">
								<ul class="rating style-none d-flex">
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
								</ul>
								<img src="/static/images/icon/icon_29.svg" alt="" class="icon">
							</div>
							<blockquote>Efficient and friendly service, guided us perfectly. Satisfied with our new home. Thank you!</blockquote>
							<div class="d-flex align-items-center justify-content-between">
								<h6 class="fs-20 m0">Jubayer Hasan, <span class="fw-normal opacity-50">Claifornia</span></h6>
								<img src="/static/images/media/img_03.jpg" alt="" class="rounded-circle avatar">
							</div>
						</div>
						<!-- /.feedback-block-six -->
					</div>
				</div>
			</div>
		</div>
		<!-- /.feedback-section-six -->


        <!--
		=====================================================
			Agent Section One
		=====================================================
		-->
		<div class="agent-section-one position-relative z-1 mt-150 xl-mt-120">
			<div class="container">
				<div class="position-relative">
					<div class="title-one mb-85 lg-mb-50 wow fadeInLeft">
						<h3>Our <span>Agents<img src="/static/images/lazy.svg" data-src="/static/images/shape/title_shape_05.svg" alt="" class="lazy-img"></span></h3>
						<p class="fs-22 mt-xs">Lorem  is placeholder text commonly used  graphic </p>
					</div>
					<!-- /.title-one -->

					<div class="wrapper position-relative z-1">
						<div class="agent-slider-one">
							<div class="item">
								<div class="agent-card-one position-relative">
									<div class="img border-20">
										<img src="/static/images/agent/img_01.jpg" alt="" class="w-100 tran5s">
									</div>
									<div class="text-center">
										<h6>Mark Filo</h6>
										<a href="agent_details.html" class="stretched-link">CEO & Founder</a>
									</div>
								</div>
								<!-- /.agent-card-one -->
							</div>
							<div class="item">
								<div class="agent-card-one position-relative">
									<div class="img border-20">
										<img src="/static/images/agent/img_02.jpg" alt="" class="w-100 tran5s">
									</div>
									<div class="text-center">
										<h6>Chris Matial</h6>
										<a href="agent_details.html" class="stretched-link">Retailer</a>
									</div>
								</div>
								<!-- /.agent-card-one -->
							</div>
							<div class="item">
								<div class="agent-card-one position-relative">
									<div class="img border-20">
										<img src="/static/images/agent/img_03.jpg" alt="" class="w-100 tran5s">
									</div>
									<div class="text-center">
										<h6>Jubayer Al Hasan</h6>
										<a href="agent_details.html" class="stretched-link">Marketing Expert</a>
									</div>
									
								</div>
								<!-- /.agent-card-one -->
							</div>
							<div class="item">
								<div class="agent-card-one position-relative">
									<div class="img border-20">
										<img src="/static/images/agent/img_04.jpg" alt="" class="w-100 tran5s">
									</div>
									<div class="text-center">
										<h6>Jannatul Ferdaus</h6>
										<a href="agent_details.html" class="stretched-link">Broker</a>
									</div>
								</div>
								<!-- /.agent-card-one -->
							</div>
							<div class="item">
								<div class="agent-card-one position-relative">
									<div class="img border-20">
										<img src="/static/images/agent/img_05.jpg" alt="" class="w-100 tran5s">
									</div>
									<div class="text-center">
										<h6>Chris Matial</h6>
										<a href="agent_details.html" class="stretched-link">Broker</a>
									</div>
								</div>
								<!-- /.agent-card-one -->
							</div>
						</div>
					</div>
					<!-- /.wrapper -->

					<div class="section-btn text-center md-mt-60">
						<a href="agent.html" class="btn-five">Meet Entire Team</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /.agent-section-one -->


        <!--
		=====================================================
			Partner Section One
		=====================================================
		-->
		<div class="partner-section-one mt-150 xl-mt-120 lg-mt-100 mb-130 xl-mb-100 lg-mb-60">
			<div class="container">
				<h6 class="text-center fs-20 mb-50 lg-mb-20">100+ Company trusted by us.</h6>
			</div>
			<div class="bg-wrapper bg-white">
				<div class="container">
					<div class="partner-logo-one">
						<div class="item"><img src="/static/images/logo/p_logo_07.png" alt=""></div>
						<div class="item"><img src="/static/images/logo/p_logo_08.png" alt=""></div>
						<div class="item"><img src="/static/images/logo/p_logo_09.png" alt=""></div>
						<div class="item"><img src="/static/images/logo/p_logo_10.png" alt=""></div>
						<div class="item"><img src="/static/images/logo/p_logo_11.png" alt=""></div>
						<div class="item"><img src="/static/images/logo/p_logo_12.png" alt=""></div>
						<div class="item"><img src="/static/images/logo/p_logo_09.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>


		{% include "includes/journey.html" %}




{% endblock %}
{% block contentScript %}
{% comment %} my script here {% endcomment %}
{% endblock%}