{% extends 'includes/base.html' %}
{% block head %}

<title>{{seo.title}}</title>
<meta name="description" content="{{seo.description}}">
<meta name="keywords" content="{{seo.keywords}}">
<meta property="og:site_name" content="ezstays">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{seo.title}}">
<meta name='og:image' content='/static/images/logo/ezstays-logo.png'>

{% endblock %}
{% block content%}


		<!-- 
		=============================================
			Inner Banner
		============================================== 
		-->
		<div class="inner-banner-one inner-banner bg-pink text-center z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative">
			<div class="container">
                <h3 class="mb-35 xl-mb-20 pt-15">About ezstays</h3>
                <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
                    <li><a href="/">Home</a></li>
                    <li>/</li>
                    <li> About us</li>
                </ul>
			</div>
			<img src="/static/images/lazy.svg" data-src="/static/images/assets/ils_07.svg" alt="" class="lazy-load shapes w-100 illustration">
		</div>
		<!-- /.inner-banner-one -->

		


		<!--
		=====================================================
			BLock Feature Two
		=====================================================
		-->
		<div class="block-feature-two mt-150 xl-mt-100">
			<div class="container">
				<div class="row gx-xl-5">
					<div class="col-lg-6 wow fadeInLeft">
						<div class="me-xxl-4">
                            <div class="title-one mb-60 lg-mb-40">
                                <div class="upper-title">About us</div>
                                <h3>  <span>Safe, Secure & Comfortable<img src="/static/images/lazy.svg" data-src="/static/images/shape/title_shape_06.svg" alt="" class="lazy-load"></span> accommodation.</h3>
                                <p class="fs-22">Our hostels offer cozy and protected living spaces within a vibrant community of students, enhancing both social interactions and academic experiences.
								</p>
                            </div>
                            <!-- /.title-one -->
                            <a href="/contact/" class="btn-two">Contact Us</a>
                            <div class="counter-wrapper border-top pt-40 md-pt-10 mt-65 md-mt-40">
                                <div class="row">
                                    <div class="col-xxl-6 col-sm-5">
                                        <div class="counter-block-one mt-20">
                                            <div class="main-count fw-500 color-dark"><span class="counter">25</span>+</div>
                                            <span>Hostels accross the county</span>
                                        </div>
                                        <!-- /.counter-block-one -->
                                    </div>
                                    <div class="col-xxl-6 col-sm-7">
                                        <div class="counter-block-one mt-20">
                                            <div class="main-count fw-500 color-dark"><span class="counter">13</span>k+</div>
                                            <span>Happy Students</span>
                                        </div>
                                        <!-- /.counter-block-one -->
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="col-lg-6 wow fadeInRight">
						<div class="block-two md-mt-40">
							<div class="bg-wrapper">
								<h5>Who we are?</h5>
								<p class="fs-22 lh-lg mt-20">Ezstays is a leading hostel network that turns your stay into an unparalleled experience of hospitality, luxury, and comfort, enhanced by our top-notch amenities.</p>
								<h5 class="top-line">Our Mission </h5>
								<p class="fs-22 lh-lg mt-20">We aim to offer affordable, safe, and lively living spaces. Starting with one property, we've become a well-known provider of student housing, with many hostels nationwide. Every step of our growth shows our dedication to meeting student needs.</p>
							</div>
							<!-- /.bg-wrapper -->
						</div>
						<!-- /.block-two -->
					</div>
				</div>
			</div>
			<!-- /.wrapper -->
		</div>
		<!-- /.block-feature-two -->


        
		



        <!--
		=====================================================
			Feedback Section Six
		=====================================================
		-->
		<div class="feedback-section-six bg-pink-two position-relative z-1 pt-110 xl-pt-80 pb-100 xl-pb-80 mt-100">
			<div class="container">
				<div class="title-one text-center mb-80 xl-mb-50 md-mb-30">
					<h3>Student Feedback</h3>
					<p class="fs-20 mt-xs">Student satisfaction speaks louder than our words. Hear from them.</p>
				</div>
				<!-- /.title-one -->
				<div class="feedback-slider-three">
					{% for testimony in testimonials %}
						
					
					<div class="item">
						<div class="feedback-block-six rounded-4">
							<div class="d-flex justify-content-between align-items-center">
								<ul class="rating style-none d-flex">
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
									<li><i class="fa-sharp fa-solid fa-star"></i></li>
								</ul>
								<img src="/static/images/lazy.svg"  data-src="/static/images/icon/icon_29.svg" alt="" class="lzay-img icon">
							</div>
							<blockquote>{{testimony.review}}</blockquote>
							<div class="d-flex align-items-center justify-content-between">
								<h6 class="fs-20 m0">{{testimony.student_name}}, <span class="fw-normal opacity-50">{{testimony.student_addr}}</span></h6>
								<img src="/static/images/lazy.svg"  data-src="{{testimony.image.url}}" alt="" class="lazy-load rounded-circle avatar">
							</div>
						</div>
						<!-- /.feedback-block-six -->
					</div>
					
					{%endfor%}
				</div>
			</div>
		</div>
		<!-- /.feedback-section-six -->


        <!--
		=====================================================
			Agent Section One
		=====================================================
		-->
		<div class="agent-section-one position-relative z-1 mt-150 xl-mt-120">
			<div class="container">
				<div class="position-relative">
					<div class="title-one mb-85 lg-mb-50 wow fadeInLeft">
						<h3>Our <span>Team<img src="/static/images/lazy.svg" data-src="/static/images/shape/title_shape_05.svg" alt="" class="lazy-load"></span></h3>
						<p class="fs-22 mt-xs">Meet the dedicated team behind our success. </p>
					</div>
					<!-- /.title-one -->

					<div class="wrapper position-relative z-1">
						<div class="agent-slider-one">
							<div class="item">
								<div class="agent-card-one position-relative">
									<div class="img border-20">
										{% comment %} <img src="/static/images/lazy.svg"  data-src="/static/images/agent/img_01.jpg" alt="" class="lazy-load w-100 tran5s"> {% endcomment %}
									</div>
									<div class="text-center">
										<h6>Vaibhav Khanna</h6>
										<a href="agent_details.html" class="stretched-link">CEO</a>
									</div>
								</div>
								<!-- /.agent-card-one -->
							</div>
							<div class="item">
								<div class="agent-card-one position-relative">
									<div class="img border-20">
										{% comment %} <img src="/static/images/lazy.svg"  data-src="/static/images/agent/img_02.jpg" alt="" class="lazy-load w-100 tran5s"> {% endcomment %}
									</div>
									<div class="text-center">
										<h6>Abhishek Kumar</h6>
										<a href="agent_details.html" class="stretched-link">Founder</a>
									</div>
								</div>
								<!-- /.agent-card-one -->
							</div>
							<div class="item">
								<div class="agent-card-one position-relative">
									<div class="img border-20">
										{% comment %} <img src="/static/images/lazy.svg"  data-src="/static/images/agent/img_03.jpg" alt="" class="lazy-load w-100 tran5s"> {% endcomment %}
									</div>
									<div class="text-center">
										<h6>Kumar Gaurav</h6>
										<a href="agent_details.html" class="stretched-link">Operation Head</a>
									</div>
									
								</div>
								<!-- /.agent-card-one -->
							</div>
							<div class="item">
								<div class="agent-card-one position-relative">
									<div class="img border-20">
										{% comment %} <img src="/static/images/lazy.svg"  data-src="/static/images/agent/img_05.jpg" alt="" class="lazy-load w-100 tran5s"> {% endcomment %}
									</div>
									<div class="text-center">
										<h6>Abhinav Kumar</h6>
										<a href="agent_details.html" class="stretched-link">Vice President</a>
									</div>
								</div>
								<!-- /.agent-card-one -->
							</div>
							<div class="item">
								<div class="agent-card-one position-relative">
									<div class="img border-20">
										{% comment %} <img src="/static/images/lazy.svg"  data-src="/static/images/agent/img_01.jpg" alt="" class="lazy-load w-100 tran5s"> {% endcomment %}
									</div>
									<div class="text-center">
										<h6>Vaibhav Khanna</h6>
										<a href="agent_details.html" class="stretched-link">CEO</a>
									</div>
								</div>
								<!-- /.agent-card-one -->
							</div>
						</div>
					</div>
					<!-- /.wrapper -->

				
				</div>
			</div>
		</div>
		<!-- /.agent-section-one -->


        <!--
		=====================================================
			Partner Section One
		=====================================================
		-->
		<div class="partner-section-one mt-150 xl-mt-120 lg-mt-100 mb-130 xl-mb-100 lg-mb-60">
			<div class="container">
				<h6 class="text-center fs-20 mb-50 lg-mb-20">20+ Company trusted by us.</h6>
			</div>
			<div class="bg-wrapper bg-white">
				<div class="container">
					<div class="partner-logo-one">
						<div class="item"><img src="/static/images/lazy.svg"  data-src="/static/images/logo/p_logo_07.png" alt="" class="lazy-load"></div>
						<div class="item"><img src="/static/images/lazy.svg"  data-src="/static/images/logo/p_logo_08.png" alt="" class="lazy-load"></div>
						<div class="item"><img src="/static/images/lazy.svg"  data-src="/static/images/logo/p_logo_09.png" alt="" class="lazy-load"></div>
						<div class="item"><img src="/static/images/lazy.svg"  data-src="/static/images/logo/p_logo_10.png" alt="" class="lazy-load"></div>
						<div class="item"><img src="/static/images/lazy.svg"  data-src="/static/images/logo/p_logo_11.png" alt="" class="lazy-load"></div>
						<div class="item"><img src="/static/images/lazy.svg"  data-src="/static/images/logo/p_logo_12.png" alt="" class="lazy-load"></div>
						<div class="item"><img src="/static/images/lazy.svg"  data-src="/static/images/logo/p_logo_09.png" alt="" class="lazy-load"></div>
					</div>
				</div>
			</div>
		</div>


		{% include "includes/journey.html" %}




{% endblock %}
{% block contentScript %}
{% comment %} my script here {% endcomment %}
{% endblock%}