{% extends 'includes/base.html' %} {% block head %}
<title>Tatkal World | Trusted Software Provider</title>
<meta
   name="description"
   content="A powerful and conceptual webapplication for authenticate irctc mobile verification via otp."
   />
{% endblock %} {% block content%}
<!-- 
   =============================================
   	Inner Banner
   ============================================== 
   -->
<div class="inner-banner-one inner-banner bg-pink text-center z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative">
   <div class="container">
      <h3 class="mb-35 xl-mb-20 pt-15">Our Blogs</h3>
      <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
         <li><a href="/">Home</a></li>
         <li>/</li>
         <li>Blog</li>
      </ul>
   </div>
   <img src="images/lazy.svg" data-src="images/assets/ils_07.svg" alt="" class="lazy-img shapes w-100 illustration">
</div>
<!-- /.inner-banner-one -->
<!--
   =====================================================
   	Blog Section Three
   =====================================================
   -->
<div class="blog-section-three mt-130 xl-mt-100 mb-150 xl-mb-100">
   <div class="container">
      <div class="blog-filter-nav">
         <ul class="style-none d-flex justify-content-center flex-wrap isotop-menu-wrapper">

            <li class="is-checked" data-filter="*">All</li>
            {% for tag in tags %}
            <li data-filter=".{{tag.name}}">{{tag.name}}</li>
            {%endfor%}
         </ul>
      </div>
      <div id="isotop-gallery-wrapper" class="grid-2column pt-60 lg-pt-40">
         <div class="grid-sizer"></div>
         {% for blog in blogs %}
         <div class="isotop-item {% for tag in blog.tags.all %}{{ tag.name }} {% endfor %}">
              <article class="blog-meta-one mb-70 lg-mb-40">
                <figure class="post-img border-25 position-relative m0" style="background-image: url({{blog.image.url}});">
                    <a href="/blog/{{blog.slug}}/" class="stretched-link date tran3s">{{ blog.published_date|date:"d M" }}
                    </a>
                </figure>
                <div class="post-data">
                  <div class="post-info"><a href="blog_details.html">By Admin .</a></div>
                    <div class="d-flex justify-content-between align-items-sm-center flex-wrap">
                      <a href="/blog/{{blog.slug}}/" class="blog-title">
                          <h4>{{blog.title}}</h4>
                      </a>
                      <a href="/blog/{{blog.slug}}/" class="read-btn rounded-circle d-flex align-items-center justify-content-center tran3s"><i class="bi bi-arrow-up-right"></i></a>
                    </div>
                </div>
              </article>
              <!-- /.blog-meta-one -->
          </div>
       
          {%endfor%}
         <!-- /.isotop-item -->
      </div>
      <!-- /#isotop-gallery-wrapper -->
      {% if hostels.paginator.num_pages > 1 %}
      <div class="pt-20 text-center">
         <ul class="pagination-two d-inline-flex align-items-center justify-content-center style-none">
            <li><a href="?page={{ hostels.paginator.num_pages }}"><i class="fa-regular fa-chevron-left"></i></a></li>
            <{% if hostels.has_previous %}
            <li><a href="?page=1">1</a></li>
            {% comment %} <li><a href="?page={{ hostels.previous_page_number }}">Previous</a></li> {% endcomment %}
        {% endif %}
        
        <!-- Current Page Indicator -->
        <li class="active"><a href="?page={{ hostels.number }}">{{ hostels.number }}</a></li>
        
        {% if hostels.has_next %}
            <li><a href="?page={{ hostels.next_page_number }}">Next</a></li>
            <li class="ms-2"><a href="?page={{ hostels.paginator.num_pages }}" class="d-flex align-items-center">Last <img src="/static/images/icon/icon_46.svg" alt="" class="ms-2"></a></li>
        {% endif %}
         </ul>
      </div>

      {% endif %}

      {% if hostels.paginator.num_pages > 1 %}
      <ul class="pagination-one d-flex align-items-center justify-content-center justify-content-sm-start style-none pt-30">
          {% if hostels.has_previous %}
              <li><a href="?page=1">1</a></li>
              <li><a href="?page={{ hostels.previous_page_number }}">Previous</a></li>
          {% endif %}
          
          <!-- Current Page Indicator -->
          <li class="active"><a href="?page={{ hostels.number }}">{{ hostels.number }}</a></li>
          
          {% if hostels.has_next %}
              <li><a href="?page={{ hostels.next_page_number }}">Next</a></li>
              <li class="ms-2"><a href="?page={{ hostels.paginator.num_pages }}" class="d-flex align-items-center">Last <img src="/static/images/icon/icon_46.svg" alt="" class="ms-2"></a></li>
          {% endif %}
      </ul>
  {% endif %}
   </div>
</div>
<!-- /.blog-section-three -->
<!--
   =====================================================
   	Fancy Banner Two
   =====================================================
   -->
   <div class="fancy-banner-two position-relative z-1 pt-90 lg-pt-50 pb-90 lg-pb-50">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="title-one text-center text-lg-start md-mb-40 pe-xl-5">
            <h3 class="text-white m0">Start your <span>Journey<img src="/static/images/lazy.svg" data-src="/static/images/shape/title_shape_06.svg" alt="" class="lazy-img"></span> with EzLiving.</h3>
          </div>
          <!-- /.title-one -->
        </div>
        <div class="col-lg-6">
          <div class="form-wrapper me-auto ms-auto me-lg-0">
            <form action="#">
              <input type="email" placeholder="Email address">
              <button>Get Started</button>
            </form>
            <div class="fs-16 mt-10 text-white">Already registered? <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Sign in.</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /.fancy-banner-two -->
{% endblock %} {% block contentScript %}
<!-- isotop -->
<script src="/static/vendor/isotope.pkgd.min.js"></script>
{% comment %} my script here {% endcomment %} {% endblock%}