{% extends 'includes/base.html' %}
{% block head %}
<title>Pg and Hostel in Greater Noida – Delhi – Ghaziabad - Bhopal | Students Hostel Accommodations</title>

<meta name="description" content="A powerful and conceptual webapplication for authenticate irctc mobile verification via otp.">

{% endblock %}
{% block content%}


		<!--
		=====================================================
			Blog Details
		=====================================================
		-->
		<div class="blog-details border-top mt-130 xl-mt-100 pt-100 xl-pt-80 mb-150 xl-mb-100">
			<div class="container">
                <div class="row gx-xl-5">
                    <div class="col-lg-8">
                        <div class="blog-post-meta mb-60 lg-mb-40">
                            <div class="post-info"><a href="blog_02.html">By Admin.</a></div>
                            <h1 class="blog-title">{{blog.title}}</h1>
                        </div>
                    </div>
                </div>
				<div class="row gx-xl-5">
                    <div class="col-lg-8">
                        <article class="blog-post-meta">
                            <figure class="post-img position-relative m0" style="background-image: url({{blog.image.url}});" alt="{{blog.title}}">
                                <div class="fw-500 date d-inline-block">{{ blog.published_date|date:"d M" }}</div>
                            </figure>
                            <div class="post-data pt-50 md-pt-30">
                                {{blog.content | safe}}
                                
                        </article>
                       
                    </div>
                    <div class="col-lg-4">
						<div class="blog-sidebar dot-bg ms-xxl-4 md-mt-60">
							<div class="search-form bg-white mb-30">
                                <form action="#" class="position-relative">
                                    <input type="text" placeholder="Search...">
                                    <button><i class="fa-sharp fa-regular fa-magnifying-glass"></i></button>
                                </form>
                            </div>
                            <!-- /.search-form -->

							<div class="categories bg-white bg-wrapper mb-30">
								<h5 class="mb-20">Category</h5>
								<ul class="style-none">
                                    <li><a href="#">Digital  (3)</a></li>
                                    <li><a href="#">Marketing (4)</a></li>
                                    <li><a href="#">Design (2)</a></li>
                                    <li><a href="#">WordPress (8)</a></li>
                                    <li><a href="#">Plugin (5)</a></li>
                                    <li><a href="#">Developer (3)</a></li>
                                    <li><a href="#">Account (7)</a></li>
                                </ul>
							</div>
							<!-- /.categories -->

							<div class="recent-news bg-white bg-wrapper mb-30">
								<h5 class="mb-20">Recent News</h5>
								<div class="news-block d-flex align-items-center pb-25">
                                    <div><img src="/static/images/lazy.svg" data-src="/static/images/blog/blog_img_08.jpg" alt="" class="lazy-img"></div>
                                    <div class="post ps-4">
                                        <h4 class="mb-5"><a href="blog_details.html" class="title tran3s">10 days quick challenge for boost visitors.</a></h4>
                                        <div class="date">23 July, 2022</div>
                                    </div>
                                </div>
                                <div class="news-block d-flex align-items-center pb-25">
                                    <div><img src="/static/images/lazy.svg" data-src="/static/images/blog/blog_img_09.jpg" alt="" class="lazy-img"></div>
                                    <div class="post ps-4">
                                        <h4 class="mb-5"><a href="blog_details.html" class="title tran3s">Speaking remotely at WordCamp US.</a></h4>
                                        <div class="date">23 July, 2022</div>
                                    </div>
                                </div>
                                <div class="news-block d-flex align-items-center">
                                    <div><img src="/static/images/lazy.svg" data-src="/static/images/blog/blog_img_10.jpg" alt="" class="lazy-img"></div>
                                    <div class="post ps-4">
                                        <h4 class="mb-5"><a href="blog_details.html" class="title tran3s">Monthly Roundup event December 2022.</a></h4>
                                        <div class="date">23 July, 2022</div>
                                    </div>
                                </div>
							</div>
							
						</div>
						<!-- /.theme-sidebar-one -->
					</div>
                </div>
			</div>
		</div>
		<!-- /.blog-details -->

		


        {% include "includes/journey.html" %}


{% endblock %}
{% block contentScript %}
{% comment %} my script here {% endcomment %}
{% endblock%}