{% extends 'includes/base.html' %} {% block head %}

<title>{{seo.title}}</title>
<meta name="description" content="{{seo.description}}">
<meta name="keywords" content="{{seo.keywords}}">
<meta property="og:site_name" content="ezstays">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{seo.title}}">
<meta name='og:image' content='/static/images/logo/ezstays-logo.png'>

{% endblock %} {% block content%}
<!-- 
   =============================================
   	Inner Banner
   ============================================== 
   -->


<div class="blog-details mt-130 xl-mt-100 pt-100 xl-pt-80 mb-150 xl-mb-100">
   <div class="container">
          
      <div class="row gx-xl-5">
         <div class="col-lg-8">
            {% for blog in blogs %}
            <article class="blog-meta-three mb-70 lg-mb-40 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <figure class="post-img position-relative m0" style="background-image: url('{{ blog.image.url }}');">
                    <a href="/blog/{{blog.slug}}/" class="stretched-link fw-500 date tran3s">{{ blog.published_date|date:"d M" }}</a>
                </figure>
                <div class="post-data">
                    <div class="post-info"><a href="/blog/{{blog.slug}}/">Admin.</a> </div>
                    <a href="/blog/{{blog.slug}}/" class="blog-title d-block">
                        <h4>{{ blog.title }}</h4>
                    </a>
                    <p>{{ blog.content|truncatewords:20 }}</p>
                    <a href="/blog/{{blog.slug}}/" class="btn-eight"><span>Read More</span> <i class="bi bi-arrow-up-right"></i></a>
                </div>
            </article>
            {% empty %}
            <p>No blogs available.</p>
            {% endfor %}
            <!-- Pagination -->
            <ul class="pagination-one square d-flex align-items-center style-none pt-10">
                {% if blogs.has_previous %}
                    <li><a href="?page=1">First</a></li>
                    <li><a href="?page={{ blogs.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for num in blogs.paginator.page_range %}
                    {% if blogs.number == num %}
                        <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                    {% else %}
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if blogs.has_next %}
                    <li><a href="?page={{ blogs.next_page_number }}">Next</a></li>
                    <li><a href="?page={{ blogs.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul>
        </div>
              <div class="col-lg-4">
            <div class="blog-sidebar dot-bg ms-xxl-4 md-mt-60">
               <div class="search-form bg-white mb-30">
                          <form action="#" class="position-relative">
                              <input type="text" placeholder="Search...">
                              <button><i class="fa-sharp fa-regular fa-magnifying-glass"></i></button>
                          </form>
                      </div>
                      <!-- /.search-form -->

               <div class="categories bg-white bg-wrapper mb-30">
                  <h5 class="mb-20">Category</h5>
                  <ul class="style-none">
                              {% for tag, count in tags %}
                                  <li><a href="/blogs?tag={{tag.name}}">{{ tag.name }} ({{ count }})</a></li>
                              {% empty %}
                                  <li>No tags found.</li>
                              {% endfor %}
                          </ul>
               </div>
               <!-- /.categories -->

               <div class="recent-news bg-white bg-wrapper mb-30">
                          <h5 class="mb-20">Recent News</h5>
                          {% for blog in recent_blogs %}
                          <div class="news-block d-flex align-items-center pb-25">
                              <div>
                                  <!-- Ensure you handle the potential absence of blog.image -->
                                  <img src="{% if blog.image %}{{ blog.image.url }}{% else %}/static/images/lazy.svg{% endif %}" alt="{{ blog.title }}" class="lazy-img">
                              </div>
                              <div class="post ps-4">
                                  <h4 class="mb-5"><a href="/blog/{{blog.slug}}/" class="title tran3s">{{ blog.title }}</a></h4>
                                  <div class="date">{{ blog.published_date|date:"d F, Y" }}</div>
                              </div>
                          </div>
                          {% empty %}
                          <div>No recent news available.</div>
                          {% endfor %}
                      </div>
                      
               
            </div>
            <!-- /.theme-sidebar-one -->
         </div>
          </div>
   </div>
</div>


<!-- /.inner-banner-one -->
<!--
   =====================================================
   	Blog Section Three
   =====================================================
   -->

{% include "includes/journey.html" %}

{% endblock %} {% block contentScript %}
<!-- isotop -->
<script src="/static/vendor/isotope.pkgd.min.js"></script>
{% comment %} my script here {% endcomment %} {% endblock%}