{% extends 'includes/base.html' %}
{% block head %}
<title>{{ blog.seo.title }}</title>
<meta name="description" content="{{ blog.seo.description }}">
<meta name="keywords" content="{{ blog.seo.keywords }}">

{% endblock %}
{% block content%}


		<!--
		=====================================================
			Blog Details
		=====================================================
		-->
		<div class="blog-details mt-130 xl-mt-100 pt-100 xl-pt-80 mb-150 xl-mb-100">
			<div class="container">
                <div class="row gx-xl-5">
                    <div class="col-lg-8">
                        <div class="blog-post-meta mb-60 lg-mb-40">
                            <div class="post-info"><a href="blog_02.html">By Admin.</a></div>
                            <h1 class="blog-title">{{blog.title}}</h1>
                        </div>
                    </div>
                </div>
				<div class="row gx-xl-5">
                    <div class="col-lg-8">
                        <article class="blog-post-meta">
                            {% if blog.image %}
                            <figure class="post-img position-relative m0" style="background-image: url({% if blog.image %}{{blog.image.url}}{%endif%});" alt="{{blog.title}}">
                                <div class="fw-500 date d-inline-block">{{ blog.published_date|date:"d M" }}</div>
                            </figure>
                            {%endif%}
                            <div class="post-data pt-50 md-pt-30">
                                {{blog.content | safe}}
                                
                        </article>
                       
                    </div>
                    <div class="col-lg-4">
						<div class="blog-sidebar dot-bg ms-xxl-4 md-mt-60">
							<div class="search-form bg-white mb-30">
                                <form action="#" class="position-relative">
                                    <input type="text" placeholder="Search...">
                                    <button><i class="fa-sharp fa-regular fa-magnifying-glass"></i></button>
                                </form>
                            </div>
                            <!-- /.search-form -->

							<div class="categories bg-white bg-wrapper mb-30">
								<h5 class="mb-20">Category</h5>
								<ul class="style-none">
                                    {% for tag, count in tags %}
                                        <li><a href="/blogs?tag={{tag.name}}">{{ tag.name }} ({{ count }})</a></li>
                                    {% empty %}
                                        <li>No tags found.</li>
                                    {% endfor %}
                                </ul>
							</div>
							<!-- /.categories -->

							<div class="recent-news bg-white bg-wrapper mb-30">
                                <h5 class="mb-20">Recent News</h5>
                                {% for blog in recent_blogs %}
                                <div class="news-block d-flex align-items-center pb-25">
                                   
                                    <div>
                                        <!-- Ensure you handle the potential absence of blog.image -->
                                        <img src="{% if blog.image %}{{ blog.image.url }}{% else %}/static/images/lazy.svg{% endif %}" alt="{{ blog.title }}" class="lazy-img">
                                    </div>
                                    {
                                    <div class="post ps-4">
                                        <h4 class="mb-5"><a href="/blog/{{blog.slug}}/" class="title tran3s">{{ blog.title }}</a></h4>
                                        <div class="date">{{ blog.published_date|date:"d F, Y" }}</div>
                                    </div>
                                </div>
                                {% empty %}
                                <div>No recent news available.</div>
                                {% endfor %}
                            </div>
                            
							
						</div>
						<!-- /.theme-sidebar-one -->
					</div>
                </div>
			</div>
		</div>
		<!-- /.blog-details -->

		


        {% include "includes/journey.html" %}


{% endblock %}
{% block contentScript %}
{% comment %} my script here {% endcomment %}
{% endblock%}