{% extends 'includes/base.html' %}
{% block head %}

<title>{{seo.title}}</title>
<meta name="description" content="{{seo.description}}">
<meta name="keywords" content="{{seo.keywords}}">
<meta property="og:site_name" content="ezstays">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{seo.title}}">
<meta name='og:image' content='/static/images/logo/ezstays-logo.png'>
<style>
    .pl-10{
        padding-left:10px;
    }
    .pad-left-20 li {
        padding-right:20px;
    }
    .listing-card-seven .property-info .price{
        font-size:25px !important;
    }
    .listing-card-seven .property-info .action-icons li a{
        font-size:15px !important;
    }
    .btn-ten{
        line-height:45px !important;
        min-width: 130px !important;
    }
    .bg-green{
        background:#34a853 !important;
    }
    .ammenity li {
        padding-right : 10px !important;
    }
    .btn-ten:hover span{
        color:white;
    }
    .btn-ten-clicked span {
        color: white;
    }
    .btn-ten-black span{
        color:black;
    }
    iframe {
        min-height:500px;
    }
</style>

{% endblock %}
{% load my_custom_tags %}
{% block content%}
	<!--
		=====================================================
			Property Listing Six
		=====================================================
		-->
		<div class="property-listing-six bg-pink-two pt-110 md-pt-80 pb-150 xl-pb-120 mt-150 xl-mt-120">
			<div class="container container-large">
				<div class="row">
                    <div class="col-lg-8">
                        <div class="ps-xxl-5">
                            <div class="listing-header-filter d-sm-flex justify-content-between align-items-center mb-40 lg-mb-30">
								<div>
                                    Showing 
                                    <span class="color-dark fw-500">
                                        {{ hostels.start_index }}–{{ hostels.end_index }}
                                    </span> 
                                    of 
                                    <span class="color-dark fw-500">
                                        {{ hostels.paginator.count }}
                                    </span> 
                                    results
                                </div>
                                
								
							</div>
							<!-- /.listing-header-filter -->

                            {% for hostel in hostels %}
                                <div class="listing-card-seven border-20 p-20 mb-50 wow fadeInUp">
                                    <div class="d-flex flex-wrap layout-one">
                                        <div class="img-gallery position-relative z-1 border-20 overflow-hidden" style="background-image: url({{hostel.images.all.0.image.url}});">
                                            
                                            <div class="tag border-20 {{hostel.hostelType | gender}}">FOR {{hostel.hostelType}}</div>
                                            <div class="img-slider-btn">
                                                {{ hostel.images.count }} <i class="fa-regular fa-image"></i>
                                                <!-- Display links to all images for fancybox -->
                                                {% for image in hostel.images.all %}
                                                    <a href="{{ image.image.url }}" class="d-block" data-fancybox="img{{ hostel.id }}" data-caption="{{ hostel.name }}"></a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <!-- /.img-gallery -->
                                        <div class="property-info">
                                            <a href="/house/{{hostel.slug}}/" class="title tran3s mb-15">{{hostel.name}}</a>
                                            <div class="address">{{hostel.address}}</div>
                                            <hr/>
                                            <div class=" mt-20 mb-20 pb-5">
                                                <ul class="style-none d-flex flex-wrap pad-left-20 ">
                                                    
                                                    <li class="d-flex align-items-center">
                                                        <img src="/static/images/ammenities/balcony.png" alt="" class="lazy-img icon me-2" style="">
                                                        <span class="fs-16">Att. Balcony</span>
                                                    </li>

                                                    <li class="d-flex align-items-center">
                                                        <img src="/static/images/ammenities/bathroom.png" alt="" class="lazy-img icon me-2" style="">
                                                        <span class="fs-16">Att. Bathroom</span>
                                                    </li>
                                                    <li class="d-flex align-items-center">
                                                        <img src="/static/images/ammenities/ac1.png" alt="" class="lazy-img icon me-2" style="">
                                                        <span class="fs-16">A.C</span>
                                                    </li>
                                                    
                                                </ul>
                                                
                                                <ul class="style-none d-flex flex-wrap ammenity">
                                                    {% for bed in hostel.beds.all %}
                                                    <li><div class="tag border-20 sale mt-20 ">{{bed.type}}</div></li>
                                                    {%endfor%}

                                                    {% comment %} <li><img src="/static/images/ammenities/balcony3.png" height="40" alt=""> Attached Balcony</li>
                                                    <li><strong>{{hostel.bath}}</strong> bath</li> {% endcomment %}
                                                    
                                                </ul>
                                            </div>
                                            <small>Starting from </small>
                                            <div class="pl-footer d-flex flex-wrap align-items-center justify-content-between">
                                                <strong class="price fw-500 color-dark me-auto">&#8377;{{ hostel.price | monthly }}/mo*</strong>
                                                <ul class="style-none d-flex action-icons me-4 pad-left">
                                                    
                                                    <li><a href="#" class="btn-ten rounded-0" data-bs-toggle="modal" data-bs-target="#schedule"><span>Schedule a visit</span></a></li>
                                                    
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#callback" class="btn-four rounded-circle"><i class="bi bi-telephone-inbound-fill"></i></a>
                                                    
                                                    
                                                </ul>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#map" data-iframe="{{ hostel.google_map_location | iframe_src }}" data-name="{{hostel.name}}" data-address="{{hostel.address | safe}}" class="btn-four rounded-circle bg-green"><i class="bi bi-geo-alt-fill"></i></a>
                                            </div>
                                        </div>
                                        <!-- /.property-info -->
                                    </div>
                                </div>
                            {%endfor%}
                            <!-- /.listing-card-seven -->

                            {% if hostels.paginator.num_pages > 1 %}
                            <ul class="pagination-one d-flex align-items-center justify-content-center justify-content-sm-start style-none pt-30">
                                
                                <ul class="pagination-one d-flex align-items-center justify-content-center justify-content-sm-start style-none pt-30">
                                    {% if hostels.has_previous %}
                                        <li><a href="?page=1">1</a></li>
                                    {% endif %}
                                    
                                    <!-- Current Page Indicator -->
                                    <li class="active"><a href="?page={{ hostels.number }}">{{ hostels.number }}</a></li>
                                    
                                    {% if hostels.has_next %}
                                        <li><a href="?page={{ hostels.next_page_number }}">Next</a></li>
                                        <li class="ms-2"><a href="?page={{ hostels.paginator.num_pages }}" class="d-flex align-items-center">Last <img src="/static/images/icon/icon_46.svg" alt="" class="ms-2"></a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}

                            
                        </div>
                    </div>
					<div class="col-lg-4 order-lg-first">
                        <div class="advance-search-panel dot-bg md-mt-80">
                            <div class="main-bg">
                                <form action="#">
                                    <div class="row gx-lg-5">
                                        <div class="col-12">
                                            <div class="input-box-one mb-35">
												<div class="label">I’m looking for...</div>
												<select class="nice-select fw-normal" name="hostel_type">
													<option value="Boys">Boys Hostels</option>
                                                    <option value="Girls">Girls Hostels</option>
												</select>
											</div>
											<!-- /.input-box-one -->
                                        </div>
                                        <div class="col-12">
                                            <div class="input-box-one mb-50">
                                                <div class="label">Location</div>
                                                <select class="nice-select location fw-normal" name="location">
                                                    {% for city in citites %}
													<option value="{{city.pk}}">{{ city.city }}</option>
													{% endfor%}
                                                </select>
                                            </div>
                                            <!-- /.input-box-one -->
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-box-one mb-40">
                                                <div class="label">Bedroom</div>
                                                <select class="nice-select fw-normal" name="bed">
                                                    <option value="Single">Single</option>
                                                    <option value="Double">Double</option>
                                                    <option value="Tripple">Tripple</option>
                                                </select>
                                            </div>
                                            <!-- /.input-box-one -->
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-box-one mb-40">
                                                <div class="label">Washroom</div>
                                                <select class="nice-select fw-normal" name="bath">
                                                    <option value="Attached">Attached</option>
                                                    <option value="Common">Common</option>
                                                </select>
                                            </div>
                                            <!-- /.input-box-one -->
                                        </div>
                                   
                                        <div class="col-12">
                                            <button class="fw-500 text-uppercase tran3s apply-search w-100 mt-40 mb-25">
                                                <i class="fa-light fa-magnifying-glass"></i>
                                                <span>Search</span>
                                            </button>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-flex justify-content-between form-widget">
                                                <a href="#" class="tran3s">
                                                    <i class="fa-regular fa-arrows-rotate"></i>
                                                    <span>Reset Filter</span>
                                                </a>
                                                <a href="#" class="tran3s">
                                                    <i class="fa-regular fa-star"></i>
                                                    <span>Save Search</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.main-bg -->
                        </div>
                        <!-- /.advance-search-panel -->
                    </div>
                </div>
			</div>
		</div>
		<!-- /.property-listing-six -->



		{% include "includes/journey.html" %}



{% endblock %}
{% block contentScript %}
<div class="modal fade" id="map" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="container">
            <div class="user-data-form modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                
                <div class="listing-details-one theme-details-one">
                    
                    <div class="bg-white border-20 p-30">
                        <h4 >Location</h4>
                        <p class="mb-20"></p>
                        <iframe src="" width="600" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="map-banner overflow-hidden border-15">
                            <div class="gmap_canvas h-100 w-100">
                                

                            </div>
                        </div>
                    </div>
              
                   
                </div>
                <!-- /.form-wrapper -->
            </div>
            <!-- /.user-data-form -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // Listener for click event on buttons that trigger the map modal
        $('a[data-bs-target="#map"]').click(function() {
            var mapSrc = $(this).attr('data-iframe');  // Get iframe URL from button data attribute
            var hostelName = $(this).attr('data-name');  // Get hostel name
            var hostelAddress = $(this).attr('data-address');  // Get hostel address
            console.log(hostelAddress);
            // Set the iframe src attribute
            $('#map iframe').attr('src', mapSrc);
            
            // Update hostel address in the paragraph with class 'addr'
            $('#map .modal-content p').text(hostelAddress); // This targets the <p class="addr"></p> and updates its text
        
            
            // Update hostel name
            $('#map .modal-content h4').text(hostelName);
    
            // Optional: Update any other information, like address if needed
            // $('#map .your-address-element').text(hostelAddress); // Uncomment and replace .your-address-element with your actual element to display address
        });
    });
        

    $('.btn-ten').on('mousedown', function() {
        $(this).removeClass('btn-ten-black');
        $(this).addClass('btn-ten-clicked');

    }).on('mouseup', function() {
        $(this).removeClass('btn-ten-clicked');
        $(this).addClass('btn-ten-black');

    });
    
document.addEventListener("DOMContentLoaded", function() {
    function getQueryParam(param) {
        var urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
    }

    function setFormValues() {
        var hostelType = getQueryParam('hostel_type');
        var location = getQueryParam('location');
        var bed = getQueryParam('bed');
        var bath = getQueryParam('bath');

        console.log(hostelType, location, bed, bath); // Check the values being retrieved

        if (hostelType) {
            var hostelTypeSelect = document.querySelector('select[name="hostel_type"]');
            if (hostelTypeSelect) hostelTypeSelect.value = hostelType;
            else console.error('Hostel type select not found!');
        }
        if (location) {
            var locationSelect = document.querySelector('select[name="location"]');
            if (locationSelect) locationSelect.value = location;
            else console.error('Location select not found!');
        }
        if (bed) {
            var bedSelect = document.querySelector('select[name="bed"]');
            if (bedSelect) bedSelect.value = bed;
            else console.error('Bed select not found!');
        }
        if (bath) {
            var bathSelect = document.querySelector('select[name="bath"]');
            if (bathSelect) bathSelect.value = bath;
            else console.error('Bath select not found!');
        }
    }

    setFormValues();
});

    
    
</script>
{% comment %} my script here {% endcomment %}
{% endblock%}