{% extends 'includes/base.html' %}
{% block head %}

<title>{{seo.title}}</title>
<meta name="description" content="{{seo.description}}">
<meta name="keywords" content="{{seo.keywords}}">
<meta property="og:site_name" content="ezstays">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{seo.title}}">
<meta name='og:image' content='/static/images/logo/ezstays-logo.png'> 

{% endblock %}
{% block content%}


		<!-- 
		=============================================
			Inner Banner
		============================================== 
		-->
		<div class="inner-banner-one inner-banner bg-pink text-center z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative">
			<div class="container">
                <h3 class="mb-35 xl-mb-20 pt-15">Privacy Policy</h3>
                <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
                    <li><a href="/">Home</a></li>
                    <li>/</li>
                    <li> Privacy Policy</li>
                </ul>
			</div>
			<img src="/static/images/lazy.svg" data-src="/static/images/assets/ils_07.svg" alt="" class="lazy-img shapes w-100 illustration">
		</div>
		<!-- /.inner-banner-one -->

		


		<!--
		=====================================================
			BLock Feature Two
		=====================================================
		-->
		<div class="blog-details  xl-mt-100 pt-100 xl-pt-80 mb-150 xl-mb-100">
			<div class="container">
               
			
                        <article class="blog-post-meta">
                           
                            <div class="post-data pt-50 md-pt-30">
                                
                              


                                <h4>Privacy Policy</h4>
<p>Privacy policy is required by the law and this policy only applies to  <a href="https://ezstays.in/"><strong>ezstays.in</strong></a> and not to the websites of other companies, individuals or organisations to whom we provide links to our websites.</p>
<h5>Use of Your Information</h5>
<p>We collect your information for the safety of our users who use our platform and guests who book through ezstays to understand who we are accommodating at our partner properties, for the safety of staff. In addition, website user and guest data is collected for statistical purposes. We also collect our guests’ nationality, date of birth, gender, for statistical analysis purposes. When you visit our websites, we may automatically log your IP address (the unique address which identifies your computer on the internet). We use IP addresses to help us manage our websites and to collect broad demographic information for analytical use. For reservations, we send guests confirmation emails and will therefore require your email address. Exceptions may occur in the case of us needing to contact previous guests in relation to post or lost property.</p>
<h5>Reservation Data</h5>
<p>In order for us to confirm a reservation for you, we do require some information. This will usually consist of:</p>
<ul>
<li>Your name</li>
<li>Telephone or mobile number – in case of an emergency</li>
<li>Gender</li>
<li>Nationality</li>
<li>Date of Birth</li>
<li>Identification data i.e. Passport, Driving License details</li>
<li>Credit card details, including the three-digit code that appears on the back of your credit card</li>
<li>Date of arrival and departure</li>
<li>Email address</li>
</ul>
<p>Upon arrival, we will require the same information from your fellow travellers, please ensure they are all aware of this to ensure a quick and efficient check-in.</p>
<h5>Website Security</h5>
<p>The Internet is not a secure medium. However, we have put in place various security procedures, including firewalls that are used to block unauthorized traffic to our website.</p>
<h5>Third Party Websites</h5>
<p>Our website contains links to many other websites promoting their business and needs to our guests. ezstays indemnifies itself against all data use on and reservations made via third party websites/agents. Please refer to their relevant privacy policy and terms and conditions.</p>
<h5>Photography and Film</h5>
<p>No permission is needed to take photos or film at our properties. However, we do recommend asking for permission before photographing or filming other guests who are not part of your group. Verbal consent is solicited as a goodwill gesture. On occasions we may commission crews to film or take photographs at our properties for promotional purposes. If you do not wish to be filmed or photographed, you are required to voluntarily leave the filming or photography area.</p>
<h5>Disclosing Guests' Personal Information to Third Parties</h5>
<p>Other than that for the purposes referred to in this policy, we will not disclose any personal information without your permission unless we are legally obliged to do so (for example, if required to do so by court order or for the purposes of prevention of fraud).</p>
<h5>Changes to Our Privacy Policy</h5>
<p>We may change our Privacy Policy at any time. Continued use of our website signifies that you agree to any such changes.</p>


                        </article>
                       
                    
			</div>
		</div>
		<!-- /.block-feature-two -->


        
		




		{% include "includes/journey.html" %}




{% endblock %}
{% block contentScript %}
{% comment %} my script here {% endcomment %}
{% endblock%}