{% extends 'includes/base.html' %}
{% block head %}

<title>{{seo.title}}</title>
<meta name="description" content="{{seo.description}}">
<meta name="keywords" content="{{seo.keywords}}">
<meta property="og:site_name" content="ezstays">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{seo.title}}">
<meta name='og:image' content='/static/images/logo/ezstays-logo.png'> 

{% endblock %}
{% block content%}


		<!-- 
		=============================================
			Inner Banner
		============================================== 
		-->
		<div class="inner-banner-one inner-banner bg-pink text-center z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative">
			<div class="container">
                <h3 class="mb-35 xl-mb-20 pt-15">Refund and Cancellation</h3>
                <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
                    <li><a href="/">Home</a></li>
                    <li>/</li>
                    <li>Refund and Cancellation</li>
                </ul>
			</div>
			<img src="/static/images/lazy.svg" data-src="/static/images/assets/ils_07.svg" alt="" class="lazy-load shapes w-100 illustration">
		</div>
		<!-- /.inner-banner-one -->

		


		<!--
		=====================================================
			BLock Feature Two
		=====================================================
		-->
		<div class="blog-details  xl-mt-100 pt-100 xl-pt-80 mb-150 xl-mb-100">
			<div class="container">
               
			
                        <article class="blog-post-meta">
                           
                            <div class="post-data pt-50 md-pt-30">
                                
                              

                                <h4>Refund  and Cancellation Policy</h4>
								<p>If you have paid the entire amount due for the room in advance and in case you decide to cancel a booking after check-in time or do not show up at the ezstays property, the refund process for the entire amount paid will be subject to the following policies:</p>
								<ul>
								<li> If you cancel the booking on the day of check-in, the entire amount paid in advance for the rental plan will be "non-refundable".</li>
								
								<li> If the booking request is canceled by Ezstays Hostels, the entire amount paid in advance will be automatically refunded within 30 days. Reasons for cancellation from our side can be due to unavailability of beds on the date requested, or any other unforeseen circumstances.</li>
								
								<li> In case there is a discrepancy in the personal information provided to us at the time of booking, due to which the booking request has to be canceled, the entire amount paid in advance for the rental plan will be non-refundable.</li>
								
								<li> If there is a no-show on the day of check-in, Ezstays Hostel reserves the right to cancel your booking. In this event, the entire amount paid would be non-refundable.</li>
								
								<li>If you have paid only the token amount to book the room and then cancel your booking request at any point the token amount paid will not be refunded.</li>
					
								<li>If you have already checked in and then decide to cancel your plan before the lock-in period (which is 12 months). The entire amount paid as part of the monthly rental & the Security Deposit will be non-refundable.</li>
					
								<li> In the case of a national emergency like a pandemic and if colleges are discontinued, no refunds will be issued from our side and the rental will continue as mentioned in the agreement.</li>
								</ul>
								<p>We at Ezstays are committed to serve you and keep you safe in every way possible</p>
                        </article>
                       
                    
			</div>
		</div>
		<!-- /.block-feature-two -->


        
		



		{% include "includes/journey.html" %}




{% endblock %}
{% block contentScript %}
{% comment %} my script here {% endcomment %}
{% endblock%}