{% extends 'includes/base.html' %}
{% block head %}

<title>{{seo.title}}</title>
<meta name="description" content="{{seo.description}}">
<meta name="keywords" content="{{seo.keywords}}">
<meta property="og:site_name" content="ezstays">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{seo.title}}">
<meta name='og:image' content='/static/images/logo/ezstays-logo.png'> 

{% endblock %}
{% block content%}


		<!-- 
		=============================================
			Inner Banner
		============================================== 
		-->
		<div class="inner-banner-one inner-banner bg-pink text-center z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative">
			<div class="container">
                <h3 class="mb-35 xl-mb-20 pt-15">Refund and Cancellation</h3>
                <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
                    <li><a href="/">Home</a></li>
                    <li>/</li>
                    <li>Refund and Cancellation</li>
                </ul>
			</div>
			<img src="/static/images/lazy.svg" data-src="/static/images/assets/ils_07.svg" alt="" class="lazy-img shapes w-100 illustration">
		</div>
		<!-- /.inner-banner-one -->

		


		<!--
		=====================================================
			BLock Feature Two
		=====================================================
		-->
		<div class="blog-details  xl-mt-100 pt-100 xl-pt-80 mb-150 xl-mb-100">
			<div class="container">
               
			
                        <article class="blog-post-meta">
                           
                            <div class="post-data pt-50 md-pt-30">
                                
                              


                                <h4>Refund and Cancellation</h4>

                                <h5>Cancellation Policy</h5>
                                <p>For bookings made through our website or app, our cancellation policy is simple: you must cancel your booking with a minimum of 24 hours notice before your check-in time. Our check-in time starts at 2PM. So, if you were supposed to arrive and check-in on Tuesday, you’ll need to cancel before 2PM on Monday. If you cancel within 24 hours of check-in time, you will be charged the balance of your first night stay. No refund will be processed for in-house guests who choose to shorten their stay.</p>
                                <h5>Group Cancellations</h5>
                                <p>Groups of 10 people or more must email <a href="mailto:info@ezstays.in">info@ezstays.in</a> for prior approval before booking. We reserve the right to cancel, without notification, any reservation for a group of 10+ that has been made online and not been pre-approved by email. This is just because we can’t ensure we can meet your group’s needs unless we’ve spoken with you by email first.</p>
                                <h5>How to Cancel Your Reservation</h5>
                                <p>If you made your reservation with a third party such as ezstays, then you need to cancel your reservation through that platform.
                                If you booked directly with us — in person, through our website or our app — you may email customer service (info@ezstays.in ) to cancel your booking. Your cancellation is not confirmed until you have received an email back from us.</p>
                                
                                <h5>Your Reservation Deposit</h5>
                                <p>If you have booked with an online , such as ezstays.in, any deposit that you paid at the time of booking was a commission kept by their company.Next2Door Living Private limited does not receive any deposits paid on external booking sites or apps. Refunds of those deposits are completely the purview of the online ,. You will need to contact them to discuss it.</p>
                                <h5>No Show Policy</h5>
                                <p>If you do not turn up for your booking on the date you have defined, your booking will be cancelled and you will be charged for the full value of your booking to your credit card.</p>
                                <p>If you do not turn up on the day of your booking but instead turn up a day later, there is unfortunately no guarantee that we will have a room or a bed available for you. When you do not appear on your Check In date, we have to assume you aren’t coming and your room is considered available to book. Our hostels are always full or nearly full, so odds are the room or bed will be taken. For this reason, please double and triple check your booking dates!</p>
                                

                        </article>
                       
                    
			</div>
		</div>
		<!-- /.block-feature-two -->


        
		




		{% include "includes/journey.html" %}




{% endblock %}
{% block contentScript %}
{% comment %} my script here {% endcomment %}
{% endblock%}