{% extends 'includes/base.html' %}
{% block head %}

<title>{{seo.title}}</title>
<meta name="description" content="{{seo.description}}">
<meta name="keywords" content="{{seo.keywords}}">
<meta property="og:site_name" content="ezstays">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{seo.title}}">
<meta name='og:image' content='/static/images/logo/ezstays-logo.png'> 

{% endblock %}
{% block content%}


		<!-- 
		=============================================
			Inner Banner
		============================================== 
		-->
		<div class="inner-banner-one inner-banner bg-pink text-center z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative">
			<div class="container">
                <h3 class="mb-35 xl-mb-20 pt-15">Refund and Cancellation</h3>
                <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
                    <li><a href="/">Home</a></li>
                    <li>/</li>
                    <li>Refund and Cancellation</li>
                </ul>
			</div>
			<img src="/static/images/lazy.svg" data-src="/static/images/assets/ils_07.svg" alt="" class="lazy-img shapes w-100 illustration">
		</div>
		<!-- /.inner-banner-one -->

		


		<!--
		=====================================================
			BLock Feature Two
		=====================================================
		-->
		<div class="blog-details  xl-mt-100 pt-100 xl-pt-80 mb-150 xl-mb-100">
			<div class="container">
               
			
                        <article class="blog-post-meta">
                           
                            <div class="post-data pt-50 md-pt-30">
                                
                              

                                <h4>Refund  and Cancellation Policy</h4>
<p>Once the Booking is Confirmed, we accept refunds on booking in following manner. </p>
<p>At Ezstays (A Unit of Next2Door Living Private Limited), we want to ensure your complete satisfaction with every booking. Please take a moment to review our Cancellation & Refund Policy to understand how we handle cancellations and refunds. By placing a booking  on our website, you agree to abide by the terms of this policy.
Cancellation Policy:<p>
<p>We do not offer cancellation on our booking. After 1 Hours, cancellations may still be possible, but a cancellation fee may apply. Please contact us immediately if you wish to cancel your booking.</p>
<h5>Refund Policy:</h5>
<p><strong> Refunds will be issued in the following circumstances:</strong></p>
<p><strong> Cancelled Orders: </strong>If you cancel your booking within the specified time frame and meet the conditions outlined in our cancellation policy, you may be eligible for a refund.</p>
<p><strong>Other Circumstances: </strong>Refunds may also be issued at our discretion in other exceptional circumstances.</p>
<h5>Refund Process:</h5>
<p>To request a refund, please contact our customer service team at <a href="tel:+91 9000 699 900"> +91 9000 699 900 </a>  with your booking  details and reason for the refund request. Our team will review your request and guide you through the refund process, which typically takes 7 days to process.</p>
<h5>Contact Information:</h5>
<p>For inquiries about cancellations or refunds, please contact our customer service team at <a href="tel:+91 9000 699 900"> +91 9000 699 900 </a> and email us at info@ezstays.in. Our team is available to assist you and ensure a seamless experience.<p>
<p>Thank you for reviewing our Cancellation & Refund Policy. If you have any questions or concerns, please don't hesitate to reach out to us. Your satisfaction is our priority at Ezstays.</p>

                        </article>
                       
                    
			</div>
		</div>
		<!-- /.block-feature-two -->


        
		




		{% include "includes/journey.html" %}




{% endblock %}
{% block contentScript %}
{% comment %} my script here {% endcomment %}
{% endblock%}