{% extends 'includes/base.html' %}
{% block head %}

<title>{{seo.title}}</title>
<meta name="description" content="{{seo.description}}">
<meta name="keywords" content="{{seo.keywords}}">
<meta property="og:site_name" content="ezstays">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{seo.title}}">
<meta name='og:image' content='/static/images/logo/ezstays-logo.png'> 

<style>
    /* Media query for mobile devices */
	@media (max-width: 768px) {
        .card-style-eleven .icon img {
            display: block;
            margin: 0 auto; /* Center-align the image */
        }
        .card-style-eleven h5,
        .card-style-eleven p {
            text-align: center; /* Center-align text */
        }
    
        }
</style>
{% endblock %}
{% block content%}


		<!-- 
		=============================================
			Inner Banner
		============================================== 
		-->
		<div class="inner-banner-one inner-banner bg-pink text-center z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative">
			<div class="container">
                <h3 class="mb-35 xl-mb-20 pt-15">Why ezstays ?</h3>
                <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
                    <li><a href="/">Home</a></li>
                    <li>/</li>
                    <li> Why ezstays</li>
                </ul>
			</div>
			<img src="/static/images/lazy.svg" data-src="/static/images/assets/ils_07.svg" alt="" class="lazy-img shapes w-100 illustration">
		</div>
		<!-- /.inner-banner-one -->

		


		<!--
		=====================================================
			BLock Feature Two
		=====================================================
		-->
		<div class="block-feature-fifteen md-mb-20 xs-mb-20 mt-100 md-mt-100 mb-140 xl-mb-80">
			<div class="container">
				<div class="row gx-xl-5">
					<div class="col-xl-6 col-lg-7 order-lg-last wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
						<div class="ms-xxl-5 ps-xl-4 ps-lg-5 md-mb-50">
							<div class="title-one mb-45 lg-mb-20">
								<h2 class="font-garamond star-shape">Why you choose us. <span class="star-shape"><img src="/static/images/shape/shape_37.svg" alt="" class="lazy-img" style=""></span></h2>
							</div>
                           
                            <p class="fs-22">Not only does EzStays provides quality accommodation, healthy food and incredible amenities but also high security, 	mentorship and networking opportunities.<br/><br/>
                                The environment at EzStays helps students thrive and ensures their all-round development. No wonder, it’s their home away from home.
                                <i style="color:#f2783c;">#RoomNahiHomeHai</i>. <br/><br/>
                                Coupled with app-based services, we thrive to give a completely seamless residential experience that is driven by technology.</p>
							<!-- /.title-one -->
							
							<!-- /.accordion-style-three -->
							<a href="/about-us/" class="btn-five mt-75 lg-mt-50">About us</a>
						</div>
					</div>
					<div class="col-xl-6 col-lg-5 d-lg-flex wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
						<div class="media-block h-100 w-100 pe-xl-5">
							<div class="bg-img position-relative" style="background-image: url(/static/images/media/table.jpg);">
							</div>
						</div>
						<!-- /.media-block -->
					</div>
				</div>
				
			</div>
			
		</div>
		<!-- /.block-feature-two -->

        <div class="block-feature-eight position-relative z-1 md-mt-30 xl-mt-120">
			<div class="container">
				<div class="position-relative">
					<div class="row">
						
						<div class="col-lg-6">
							<div class="block-two ms-xxl-5 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
								<div class="bg-wrapper md-mt-60">
                                    <div class="title-one m0">
                                        <h3>Security at <span>EzStays<img src="/static/images/lazy.svg"  data-src="/static/images/shape/title_shape_05.svg" alt="" class="lazy-img" style=""></span> <small> Peace of mind. </small></h3>
                                    </div>
                                    <!-- /.title-one -->
                                    
									<p class="fs-22 mt-45 mb-60 xl-mb-40 pe-xxl-5">At EzStays, we understand the importance of safety and comfort for our students and their parents. We offer 24x7 security and support to ensure a safe environment. We welcome parents to be involved and are here to answer any questions, ensuring a happy stay for your child.
                                    </p>
									
                                    <div class="feature-wrapper mt-60 lg-mt-40 mb-65 lg-mb-40">
                                        <div class="bg-wrapper">
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/lazy.svg"  data-src="/static/images/icon/cctv-camera.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">CCTV Camera</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/lazy.svg"  data-src="/static/images/icon/security.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">24x7 Security</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/lazy.svg"  data-src="/static/images/icon/biometric1.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">Biometric Entry</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.bg-wrapper -->
                                    </div>
								</div>
								<!-- /.bg-wrapper -->
							</div>
						</div>

                        <div class="col-lg-6">
							<div class="pe-xl-5 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
								<div class="row align-items-end">
									<div class="col-6">
										<div class="media-block position-relative z-1">
                                            <img src="/static/images/lazy.svg"  data-src="/static/images/assets/biometric.jpg" alt="" class="lazy-img screen_03 mb-40" style="">
											<img src="/static/images/lazy.svg"  data-src="/static/images/media/camera.jpg" alt="" class="lazy-img main-img w-100" style="">
											<img src="/static/images/lazy.svg"  data-src="/static/images/shape/shape_40.svg" alt="" class="lazy-img shapes shape_01" style="">
										</div>
										<!-- /.media-block -->
									</div>
									<div class="col-6">
										<div class="media-block position-relative z-1">
											<img src="/static/images/lazy.svg"  data-src="/static/images/media/guard.jpg" alt="" class="lazy-img main-img w-100" style="">
										</div>
										<!-- /.media-block -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



        <div class="block-feature-eight position-relative z-1 md-mt-30 mt-170 xl-mt-120">
			<div class="container">
				<div class="position-relative">
					<div class="row">
                        <div class="col-lg-6 order-lg-last">
							

                            <div class="block-two ms-xxl-5 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
								<div class="bg-wrapper md-mt-60">
                                    <div class="title-one m0">
                                        <h3><span>EzMentor<img src="/static/images/lazy.svg"  data-src="/static/images/shape/title_shape_05.svg" alt="" class="lazy-img" style=""></span> <small> The Career Development Program. </small></h3>
                                    </div>
                                    <!-- /.title-one -->
                                    
									<p class="fs-22 mt-45 mb-60 xl-mb-40 pe-xxl-5">Our academically oriented student-living provides more than just affordable accommodations for students. We also provide a mentorship environment complete with internships, job drives, mock interviews, and even motivational classes.</p>
									
									
                                    <div class="feature-wrapper mt-60 lg-mt-40 mb-65 lg-mb-40">
                                        <div class="bg-wrapper">
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/icon/resume.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">Resume Writing</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/icon/internship.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">Internships</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/icon/group.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">Group Discussions</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/icon/counselling.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">Career Counselling</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/icon/workshop.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">Workshop</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/icon/motivation.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">Motivational Classes</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.bg-wrapper -->
                                    </div>
								</div>
								<!-- /.bg-wrapper -->
							</div>
						</div>
						<div class="col-lg-6">
							<div class="pe-xl-5 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
								<div class="row align-items-end">
									<div class="col-12">
										<div class="media-block position-relative z-1 mb-20">
											<img src="/static/images/lazy.svg"  data-src="/static/images/media/lib.jpg" alt="" class="lazy-img main-img w-100" style="">
                                            
										</div>
										<!-- /.media-block -->
									</div>
                                    <div class="col-6">
										<div class="media-block position-relative z-1">
                                            <img src="/static/images/lazy.svg"  data-src="/static/images/media/mentor.jpg" alt="" class="lazy-img screen_03 mb-40" style="">
											<img src="/static/images/lazy.svg"  data-src="/static/images/media/workshop.jpg" alt="" class="lazy-img main-img w-100" style="">
										</div>
										<!-- /.media-block -->
									</div>
									<div class="col-6">
										<div class="media-block position-relative z-1">
											<img src="/static/images/lazy.svg"  data-src="/static/images/media/resume.jpg" alt="" class="lazy-img main-img w-100" style="">
										</div>
										<!-- /.media-block -->
									</div>
                                    
								</div>
							</div>
						</div>

                     
					</div>
				</div>
			</div>
		</div>

        <div class="block-feature-eight position-relative z-1 mt-170 xl-mt-120 mb-100">
			<div class="container">
				<div class="position-relative">
					<div class="row">
						
						<div class="col-lg-6">
							<div class="block-two ms-xxl-5 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
								<div class="bg-wrapper md-mt-60">
                                    <div class="title-one m0">
                                        <h3><span>EzConnect<img  src="/static/images/lazy.svg"  data-src="/static/images/shape/title_shape_05.svg" alt="" class="lazy-img" style=""></span> <small> Events & networking for your success. </small></h3>
                                    </div>
                                    <!-- /.title-one -->
                                    
									<p class="fs-22 mt-45 mb-60 xl-mb-40 pe-xxl-5">Our in-house network of programs and events that are geared to help you make the most of your academic life & transition to greater success in your professional life</p>
									
									
                                    <div class="feature-wrapper mt-60 lg-mt-40 mb-65 lg-mb-40">
                                        <div class="bg-wrapper">
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/lazy.svg"  data-src="/static/images/icon/sports.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">Sports Tournaments</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/lazy.svg"  data-src="/static/images/icon/moview.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">Movie Screenings</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/lazy.svg"  data-src="/static/images/icon/dj.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">DJ Night</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/lazy.svg"  data-src="/static/images/icon/party.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">Birthday Parties</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/lazy.svg"  data-src="/static/images/icon/comedy.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">Standup Comedy</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-4">
                                                    <div class="card-style-eleven mt-30">
                                                        <div class="icon"><img src="/static/images/lazy.svg"  data-src="/static/images/icon/game1.png" alt="" class="lazy-img" style=""></div>
                                                        <h5 class="mt-30 mb-20">Gaming Competitions</h5>
                                                        
                                                    </div>
                                                    <!-- /.card-style-eleven -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.bg-wrapper -->
                                    </div>
								</div>
								<!-- /.bg-wrapper -->
							</div>
						</div>

                        <div class="col-lg-6">
							<div class="pe-xl-5 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
								<div class="row align-items-end">
									<div class="col-6">
										<div class="media-block position-relative z-1">
                                            <img src="/static/images/lazy.svg"  data-src="/static/images/media/mentor-prog.jpg" alt="" class="lazy-img main-img w-100" style="">
										</div>
										<!-- /.media-block -->
									</div>
									<div class="col-6">
										<div class="media-block position-relative z-1">
											<img src="/static/images/lazy.svg"  data-src="/static/images/media/party.jpg" alt="" class="lazy-img main-img w-100" style="">
                                            
										</div>
										<!-- /.media-block -->
									</div>
                                    <div class="col-12">
										<div class="media-block position-relative z-1 mt-20">
											<img src="/static/images/lazy.svg"  data-src="/static/images/media/group_party.jpg" alt="" class="lazy-img main-img w-100" style="">
                                            
										</div>
										<!-- /.media-block -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


     

		{% include "includes/journey.html" %}




{% endblock %}
{% block contentScript %}
{% comment %} my script here {% endcomment %}
{% endblock%}